services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: downloader-app:${VERSION:-latest}
    container_name: downloader-app
    hostname: downloader-app
    restart: always
    environment:
      NODE_ENV: production
      NUXT_PUBLIC_SITE_URL: ${SITE_URL:-http://localhost:3000}
    ports:
      - ${APP_PORT}:3000
    healthcheck:
      test: wget -qO- http://localhost:3000 || exit 1
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - default

  api: &backend_app
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: downloader-api:${VERSION:-latest}
    container_name: downloader-api
    hostname: downloader-api
    restart: always
    env_file:
      - backend/.env
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - ${PORT:-8000}:${PORT:-8000}
    volumes:
      - ./logs:/app/logs
      - downloads:/tmp/downloads
      - ./cookies:/app/cookies:ro
    healthcheck:
      test: curl localhost:${PORT:-8000}/api/health
      interval: 2s
      timeout: 3s
      retries: 40
    networks:
      - default

  redis:
    image: redis:alpine
    hostname: downloader-redis
    container_name: downloader-redis
    restart: always
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 3s
      retries: 50
    networks:
      - default
  
  worker:
    container_name: downloader-worker
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: uv run -- taskiq worker app.tasks.broker:broker app.tasks
    env_file:
      - backend/.env
    restart: always
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - downloads:/tmp/downloads
      - ./cookies:/app/cookies:ro
  scheduler:
    container_name: downloader-scheduler
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: uv run -- taskiq scheduler app.tasks.broker:scheduler app.tasks
    env_file:
      - backend/.env
    restart: always
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs


volumes:
  downloads:

networks:
  default:
    driver: bridge
